#Header {
    font-size: 200%;
    font-family:"Jacquarda Bastarda 9";
    margin-top: auto;
    color: lightblue;
}
div {
    font-size: 150%;
    font-family: "Kode Mono";
    color: rgb(171, 214, 228);
}
body {
    background-color: rgb(31, 29, 29);
}

